/* CSS declarations go here */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  padding: 0px;
  width: 100%;
  height: 100%;
  .stretch {
    height: 100%;
  }
}
.project-panel {
  background-color: #383838;
}

.spark-panel {
  background: url(/img/lightbg.png) repeat top left;
}

.member-panel {
  background-color: rgba(0, 0, 0, 0.7);
}